doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  // Tell the browser to be responsive to screen width
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='robots' content='noindex,nofollow')
  title Got Lost!
  link(rel='stylesheet' type='text/css' href='/css/404.css')
.container.container-star
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-1
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
  .star-2
.container.container-bird
  .bird.bird-anim
    .bird-container
      .wing.wing-left
        .wing-left-top
      .wing.wing-right
        .wing-right-top
  .bird.bird-anim
    .bird-container
      .wing.wing-left
        .wing-left-top
      .wing.wing-right
        .wing-right-top
  .bird.bird-anim
    .bird-container
      .wing.wing-left
        .wing-left-top
      .wing.wing-right
        .wing-right-top
  .bird.bird-anim
    .bird-container
      .wing.wing-left
        .wing-left-top
      .wing.wing-right
        .wing-right-top
  .bird.bird-anim
    .bird-container
      .wing.wing-left
        .wing-left-top
      .wing.wing-right
        .wing-right-top
  .bird.bird-anim
    .bird-container
      .wing.wing-left
        .wing-left-top
      .wing.wing-right
        .wing-right-top
  .container-title
    .title
      .number 4
      .moon
        .face
          .mouth
          .eyes
            .eye-left
            .eye-right
      .number 4
    .subtitle Oops. Looks like you took a wrong turn.
    br
    br
    a.button(href='/') Go back
