extends layouts/main-layout.pug

block content    
    +createPostForm(userLoggedIn)
    .postsContainer
        .loadingSpinnerContainer
            img(src="/images/loadingSpinner2.gif", alt="Loading...")

    +createPostModals(userLoggedIn)(style="visibility: hidden")

block scripts
    script(src="/js/home.js")