extends layouts/main-layout.pug

block content    
    .resultsContainer 
        .loadingSpinnerContainer
            img(src="/images/loadingSpinner2.gif", alt="Loading...")

block headerButton
    button#markNotificationsAsRead 
        i.fas.fa-check-double 


block scripts
    script(src="/js/notificationsPage.js")