html{
    overflow: hidden;
}

body{
    background-color: rgb(255, 0, 170);
}

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.loginContainer{
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #dedede;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    box-shadow: 12px 10px 9px 13px rgb(0 0 0 / 30%);
    -webkit-box-shadow: 12px 10px 9px 13px rgb(0 0 0 / 30%);
    -moz-box-shadow: 12px 10px 9px 13px rgb(0 0 0 / 30%);

}

form{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

input[type="text"],input[type="email"],input[type="password"]{
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #dedede;
    background-color: #f2f2f2;
}

input[type="submit"]{
    background-color: rgb(255, 0, 170);
    color: white;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
}

a{
    color: rgb(255, 0, 170);
}

.backgroundImmage img{
    position: absolute;
    width: 547px;
    z-index: -1;
    top: 316px;
    left: 30px;
}

.backgroundImmage2 img{
    position: absolute;
    width: 400px;
    z-index: -1;
    top: 216px;
    left: 30px;
}
